h1{color:red;}
.title{text-align: center;}
.aboutme{color:blue;}
.aboutme{font-size: 40px;}
.instagram{font-size: 30px;}
*{text-align: center;}
.photo{height: 200px;}
html{background-color: aquamarine;}